.bgfooter{
    background-color: var(--dark);
    padding: 100px 140px 0px 140px;
}
.col-12:has(.footer-logo){
    padding: 0;
}
.footer-logo{
    max-width: 250px;
}
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 100px 0px 100px 0px;
}
.footer-socials-list{
    height: fit-content !important;
}
.footer-socials-list li{
    text-decoration: none;
    list-style: none;
    padding: 10px;
}
.footer-socials-list img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.footer-info-section{
    width: 30%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.copyright-item{
    padding: 20px;
}

